body {
  background-image: url(./bg.jpeg);
  background-repeat: repeat-y;
  background-size: 100%;
  background-position-y: center;
}
.input {
  direction: rtl;
  padding: 1.5%;
}

.container button {
  text-align: center;
}

.submit {
  background-color: green;
  border: none;
  border-radius: 1rem;
  margin-right: 42%;
  margin-top: 2%;
  opacity: 0.6;
}

.rate-form {
  display: none;
}

#result-show {
  direction: rtl;
  text-align: center;
}
#header {
  font-size: 1.5rem;
  font-weight: bold;
}

#result-div {
  display: none;
}
